.navbar {
    background-color: #343a40;
    padding: 15px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Optional: Adjust width as needed */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: white;
  }
  
  .badge {
    background-color: #28a745;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
  }
  
  .badge:hover {
    background-color: #218838;
  }
  